__pycache__/
*.pyc
venv/
*.mid
*.midi
*.wav
*.mp3
*.ogg
*.flac
*.aif
*.aiff
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.lzma2
*.tar.lz4c
*.tar.lz4f
*.tar.lzop2
*.tar.lzop3
*.tar.lzop4
*.tar.lzop5
*.tar.lzop6
*.tar.lzop7